.wrapper {
    padding: 16px 40px 0 8px;
}

.item-history {
    display: flex;
    align-items: center;
    //justify-content: space-between;
    padding: 8px 24px;
    margin-bottom: 4px;
    background-color: #ffffff;
    border-radius: 4px;
    .admin {
        display: flex;
        align-items: center;
        width: 30%;
        .id-admin {
            margin-left: 8px;
        }
    }
    .user {
        width: 30%;
    }
    .operation {
        width: 30%;
    }
}
