.wrapper {
    padding: 16px 40px 0 8px;
}

.item-notification {
    display: flex;
    padding: 8px 24px;
    margin-bottom: 4px;
    background-color: #ffffff;
    border-radius: 4px;
    cursor: pointer;
    .content {
        margin-left: 8px;
        p {
            margin-bottom: 4px;
        }
    }
}
