.page {
    display: flex;
    justify-content: center;
    overflow: auto;
    gap: 6px;
    margin: 24px;
    .before,
    .after {
        background-color: rgb(112, 174, 228);
        padding: 8px 12px;
        border-radius: 6px;
        cursor: pointer;
        color: #ffffff;
        font-weight: normal;
        user-select: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
    }
}
